    <% @blogs.each do |f| %>
        <% suu=f.comments.count %>
        <div class="content-title"><%= f.title %></div>
        <%= simple_format(f.content) %>
        <%= f.created_at.strftime("%Y-%m-%d %H:%M") %>
        <%= link_to "コメント(#{suu})","/blogs/#{f.id.to_s}" %>
        <%= link_to "修正","/blogs/#{f.id.to_s}/edit" if cookies[:userid].present? %>
        <br>
    <% end %>
    <hr class="line">
<%= will_paginate %><p class="back"><a href="#header">

