
    <% @blogs.each do |f| %>
        <h2 class="page_title"><%= f.title %></h2>
        <%=simple_format(f.content) %>
        <%= f.created_at.strftime("%Y-%m-%d %H:%M") %>
        <%= link_to "コメント","/blogs/#{f.id.to_s}" %>
        <%= link_to "修正","/blogs/#{f.id.to_s}/edit" if cookies[:passwd].present? %>
        <br>
        <% end %>
    <hr class="line">
<%= will_paginate %><p class="back"><a href="#header">
