パスワード編集
<%= form_with(url: password_change_path(@userid),method: :put, local: true) do |f| %>
  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :name ,value:@user.name, required: true %>
  </div>
  <div class="field">
    <%= f.label :現在のパスワード %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :新パスワード %>(7文字以上)<br>
    <%= f.password_field :newpassword %>
  </div>
  <div class="field">
    <%= f.label :パスワード確認 %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit value:"変更" %>
  </div>
<% end %>
