<b>入力にエラーがあります。必須項目に入力がありません。</b>
<% if @blog.present? %>
        <h2 class="page_title">
        <%= @blog.title %></h2>
        <%=simple_format(@blog.content) %>
        <%= @blog.created_at.strftime("%Y-%m-%d %H:%M") %><br>
        <%#= link_to "修正","/blogs/#{@blog.id.to_s}/edit" %>
        <hr class="line">
        ■コメント投稿<br>
        <%= form_for(@comment) do |f| %>
          <p><%= f.text_field :name, placeholder: 'お名前(必須)' ,value:@name, required: true,style:"margin-bottom: 2px;" %></P>
          <p><%= f.email_field :email, placeholder: 'Emailアドレス(必須非公開)' , required: true,style:"margin-bottom: 2px;" %></P>
          <p><%= f.text_field :url, placeholder: 'URL' ,style:"margin-bottom: 2px;" %></P>
          <%= f.text_area :body, placeholder: 'コメント(必須)',value:@body, required: true,cols:40,rows:5 %>
          <%= f.hidden_field :blog_id, value:@blog.id.to_i %><br>
       <%= f.submit "実行", class: "btn btn-primary",data: { disable_with: '送信中...' },style:"width:100px;height:50px" %>
        <% end %>
        <hr class="line">
        <% if @commentcontent.present? %>
          <% @commentcontent.each do |f| %>
              <%= f.name %>さん　投稿日時：<%=f.created_at.strftime("%Y-%m-%d %H:%M") %><br>
              <table>
                <tr><td width="610">
              <%=simple_format(f.body) %>
              <hr class="line">
              </td></tr>
              </table>
          <% end %>
        <% end %> 
<% end %>
