<p>
  <b>タイトル検索</b>
</p>
<%= form_with(url: search_index_path, method: :get, local: true) do |f| %>
  <p>
    <%= f.label :タイトル %><br>
    <%= f.text_field :title,value:@title,placeholder:"曖昧検索" , required: true %>
  </p>
    <%= f.label :期限 %><br>
    <%= collection_select(:startdate,:id,@dates,:id, :dateweek , {:selected=>@startdate}) %>-<%= collection_select(:finishdate,:id,@dates,:id, :dateweek , {:selected=>@finishdate}) %>
  <p>
    <%= f.submit "検索", class: "btn btn-primary",data: { disable_with: '送信中...' },style:"width:100px;height:50px" %>
  </p>
<% end %>
<a href="/search/condition">リセット</a>
<% session[:url] = request.url %>
