パスワード編集
<%= form_with(url: user_path, local: true, method: 'PUT') do |f| %>
  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :name , required: true, value:@user.name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email , required: true, value:@user.email %>
  </div>
  <div class="field">
    <%= f.label :地域 %><br>
    <%= f.select :placecode,Place.all.collect { |i| [ i.name, i.code ]} ,{selected: @user.placecode} %>
  </div>
  <div class="field">
    <%= f.label :現在のパスワード %><br>
    <%= f.password_field :password, required: true %>
  </div>
  <div class="field">
    <%= f.label :新パスワード %>(6文字以上)<br>
    <%= f.password_field :newpassword %>
  </div>
  <div class="field">
    <%= f.label :パスワード確認 %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit value:"変更" %>
  </div>
<% end %>
