 <%= form_for(@portal) do |f| %>
    <p></p>
      <%= f.label :トップタイトル名 %><br>
      <%= f.text_field :title, placeholder: 'enter イベント名(必須)' %>
      <p>
      <%= f.label :トップ詳細 %><br>
      <%= f.text_area :content, placeholder: 'enter 詳細(必須)',cols:65,rows:10 %><br>
       <%= f.submit "実行", class: "btn btn-primary",data: { disable_with: '送信中...' },style:"width:100px;height:50px" %>
    <% end %>