<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<% provide(:title, "集計表") %>
  <% @first_day = @date.beginning_of_month %>
  <% @last_day = @date.end_of_month %>
  <% today = Date.today %>
  <table >
  <% @datedown=(@first_day-1).beginning_of_month %>
  <tr>
  <td><%= button_to"←", {controller: 'todos', action: 'aggregate'}, {method: :get, params: {lday:@datedown,kubun:"1"}} %></td>
  <td><div style="padding : 10px ;"><strong><%= nengetu(@first_day) %>分集計表</strong></div></td>
  <% @dateup=(@last_day+1).beginning_of_month %>
  <td><%= button_to"→", {controller: 'todos', action: 'aggregate'}, {method: :get, params: {lday:@dateup,kubun:"2"}} %></td>
  </tr></table>
  <%# agg=Account.where("registrationdate>=@first_day") %>
  出費額合計：<%= @accounts.where("(registrationdate >= ?) and (registrationdate <= ?)", @first_day,@last_day).sum(:amount).to_s(:delimited, delimiter: ',') %>円
  完了件数：<%= @todos.where("(finishday >= ?) and (finishday <= ?)", @first_day,@last_day).count %>件
  <table class="table1">
<tr><th>月日</th><th>出費額</th><th>期限件数</th><th>完了件数</th></tr> 
<% (@first_day..@last_day).each do |day| %>
<% if day==today %>
  <tr style="background: #D7EEFF;">
<% else %>
  <tr>
<% end %>
  <td style="width:150px;">
  <% if day.wday==0  or holiday(day) %>
    <div style="color: rgb(255,0,0);" >
  <% elsif day.wday==6 %>
    <div style="color: blue;" >
  <% else %>
    <div>
  <% end %>
  <%=monthday(day) %>(<%=weekdate(day) %>)
  </td>
<td style="text-align:right; width:150px;">
<% agg=@accounts.where("(registrationdate = ?)", day) %>
<% kei=agg.sum(:amount).to_s(:delimited, delimiter: ',') %>
<% if kei.to_i!=0 %>
<%= link_to kei, {controller: "accounts", action: "index", registrationdate: day},method: :post %>
<% end %>
</td>
<td style="text-align:right; width:60px;">
  <% term=@todos.where("(term = ?)", day).count %>
  <% if term>0 %>
   <%= link_to term, {controller: "todos", action: "termindex", termdate: day},method: :post %>
  <% end %>
</td>
<td style="text-align:right; width:60px;">
  <% finish=@todos.where("(finishday = ?)", day).count %>
  <% if finish>0 %>
   <%= link_to finish, {controller: "todos", action: "finishindex", finishdate: day},method: :post %>
  <% end %>
</td>
</tr>
<% end %>
</table>
<% session[:url]=request.url %>
