
<%= form_for(@todo) do |f| %>
    <p></p>
      <%= f.label :件名 %><br>
      <%= f.text_field :title, placeholder: 'enter タイトル'  %>
      <p>
       <%= f.label :期限・開催 %><br>
      <%= f.collection_select :term, @dates, :id, :dateweek, :selected=>@todo.term %>
      <% if @todo.starttime.present? %>
        <% timehm=@todo.starttime-32400 %>
        <%= f.select:starttimehour,@hourselect,  :selected=>timehm.hour %>-
        <%= f.select :starttimemin,@minselect, :selected=>timehm.min %>
      <% else %>
        <%= f.select:starttimehour,@hourselect,  :include_blank => true %>-
        <%= f.select :starttimemin,@minselect, :include_blank => true %>
      <% end %><br>
      <p>
      <%= f.label :内容 %><br>
      <%= f.text_area :body, placeholder: 'enter 内容',cols:65,rows:5 %><br>
      <%= f.submit "修正登録", class: "btn btn-primary",data: { disable_with: '送信中...' },style:"width:100px;height:50px" %>
    　<%= f.submit "コピー登録", class: "btn btn-primary",data: { confirm: "本当にコピーして新規登録しますか？" },style:"width:100px;height:50px" %>
    　<%= f.submit "削除", class: "btn btn-primary",data: { confirm: "本当に削除しますか？" } ,style:"width:100px;height:50px" %>
<% end %>
  <%= link_to "プレビュー","/todos/#{@todo.id}" %>
  <%= link_to("前のページに戻る",request.referer) %>
  <%= link_to("一覧に戻る",session[:url]) if session[:url]%>
<br>

