<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<% require 'date' %>
<% @today=Date.today %>
<%# account=Account.where(registrationdate:@today) %>
<% finish=Todo.where(finishday:@today) %>
<%= link_to "仕掛一覧", "index", {class: "btn btn-primary"} %> <%= link_to "完了一覧", "indexfinished", {class: "btn btn-primary"} %>
<br>終了タスク：<%= @todos.count %>件</b>
    <% statusname="完了" %>
<div>
<table class="table1" align="left">
        <thead>
            <tr>
                <th scope="col" style="width:250px">内容</th>
                <th>費用</th>
                <th style="width:10px"></th>
                <th style="width:10px"></th>
                <th scope="col"><%= statusname %></th>
            </tr>
        </thead>
        <tbody>
        <% @todos.each do |form|%>
        <% kei=form.accounts.sum(:amount).to_s(:delimited, delimiter: ',') %>
            <% if @today==form.term  or @today==form.finishday %>
                <tr style="background-color: #DDFFFF;">
            <% else %>
                <tr>
            <% end %>
                <td data-label="内容" style="text-align: left;">
                <% title=mojiseigen(form.title,10) %>
                <%= link_to title, "/todos/#{form.id}" %></td>
                <td style="text-align: right; width:100px;"><%=kei %></td>
                <td>
                    <%= button_to "仕", todos_finished_path, { method: :get,params: {id: form.id,baction:2} } %></td>
                    <td><%= button_to "編", todos_edit_path, { method: :get, params: {id: form.id,baction:2} } %></td>
                    <td data-label="完了日"><%= dateweekday(form.finishday) %>(<%=weekdate(form.finishday) %>)</td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>



