<div class="lead">仕掛一覧
<%= react_component("HelloWorld", { greeting: "hello" }) %></div> 
<%= link_to "新規", "new", {class: "btn btn-primary"} %>
<button class="btn btn-primary"  data-toggle="modal" data-target="#modal-sa">
定期的
</button>
<%= stylesheet_link_tag "todoindexcss/todos", :media => "all" %>
<%= render partial: "form" %>
<%= will_paginate @todos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<!-- 2.編集モーダルの配置 -->
<div class="modal fade" id="modal-sa" tabindex="-1">
  <div class="modal-dialog modal-sm">
<!-- 3.モーダルのコンテンツ -->
    <div class="modal-content">
      <!-- 4.モーダルのヘッダ -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-label"><b>新規まとめ追加(定期的)</b></h4>
        <div class="modal-body">
        <% sdate2=@today.next_day(10) %>
        <%= form_with(url: todos_createmany_path,local: true) do |f| %>
          タイトル　：<%= f.text_field :title, placeholder: '必須',required: true %><br>
          開始年月日：<br>
          <%= f.collection_select :openday, @dates, :id, :dateweek, :selected=>@today %>
          <br>
          終了年月日：<br>
          <%= f.collection_select :finishday, @dates, :id, :dateweek, :selected=>sdate2 %><br>
          間　隔　　：<br>
          <%= f.select:interval,@interval %>日<br>
          備　考　　：<%= f.text_field :body, placeholder: '本文'  %><br>
           <p>
          <%= f.submit "登録", class: "btn btn-primary",data: { disable_with: '送信中...' },style:"width:100px;height:50px" %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
