<%= stylesheet_link_tag "todoindexcss/todos", :media => "all" %>
<%= will_paginate %><p class="back"><a href="#header"></a>
<p><b>仕掛一覧 <%= link_to "仕掛", "index" %> <%= link_to "完了済", "indexfinished" %>　<%= link_to "新規", "new" %></b>
<%= render partial: "form" %>




