<%= will_paginate %><p class="back"><a href="#header"></a>
<p><b>Todo仕掛完了済 <%= link_to "仕掛", "index" %> <%= link_to "完了済", "indexfinished" %></b>
<%= render partial: "form" %>
<%= will_paginate %><p class="back"><a href="#header"></a>

