<%= form_for(@todo) do |f| %>
    <p></p>
      <%= f.label :タイトル %><br>
      <%= f.text_field :title, placeholder: 'enter タイトル(必須)'  %>
      <p>
       <%= f.label :期限・開催※時間はイベント時のみ入力 %><br>
      <%= f.collection_select :term, @dates, :id, :dateweek, :selected=>@sdate %>
      <% Account.new %>
      <% itemselect=Item.all %>
      <%= f.select:starttimehour,@hourselect, :include_blank => true %>-
      <%= f.select :starttimemin,@minselect, :include_blank => true %><br>
      <p>
      <%= f.label :内容 %><br>
      <%= f.text_area :body, placeholder: 'enter 内容',cols:65,rows:10,value:@body %></p>
      <p>
      <%= f.label :費用品目： %><br>
      <%= f.select :item,Item.all.collect { |i| [ i.name, i.id ] } %><br>
      <%= f.label :金額%><br>
      <%= f.text_field :itemmoney %>円
      <p>
      <%= f.submit "登録", class: "btn btn-primary",data: { disable_with: '送信中...' },style:"width:100px;height:50px" %>
      </p>
<% end %>
<a href="javascript:history.back()">前のページに戻る</a>