<% provide(:title, "カレンダー") %>
  <% @first_day = @date.beginning_of_month %>
  <% @last_day = @date.end_of_month %>
  <% today = Date.today %>
  
  <table >
  <% @datedown=(@first_day-1).beginning_of_month %>
  <tr>
  <td><%= button_to"←", {controller: 'todos', action: 'schedule'}, {method: :get, params: {lday:@datedown,kubun:"1"}} %></td>
  <td><div style="padding : 10px ;"><strong><%= nengetu(@first_day) %>分スケジュール</strong></div></td>
  <% @dateup=(@last_day+1).beginning_of_month %>
  <td><%= button_to"→", {controller: 'todos', action: 'schedule'}, {method: :get, params: {lday:@dateup,kubun:"2"}} %></td>
  </tr></table>
  <table class="table1">
<tr><th>月日</th><th>イベント名</th></tr> 
<% (@first_day..@last_day).each do |day| %>
<% if day==today %>
  <tr style="background: #D7EEFF;">
<% else %>
  <tr>
<% end %>
  <td style="width:150px;">
  <% if day.wday==0  or holiday(day) %>
    <div style="color: rgb(255,0,0);" >
  <% elsif day.wday==6 %>
    <div style="color: blue;" >
  <% else %>
    <div>
  <% end %>
  <% if day.day ==1 %>
    <% idday = convert_day(day) %>
  <% else %>
    <% idday = convert_day(day+1) %>
  <% end  %>
  <div id=<%= idday %>><%=monthday(day) %>(<%=weekdate(day) %>)</div>
  </td>
<td style="text-align: left;">
  <% dayevent=@event.where(term:day).order(:starttime) %>
  <% dayevent.each do |dayev| %>
  <%#=timehyouji(dayev.starttime) %>
  <% times=dayev.starttime %>
  <%=times.strftime("%H:%M") %>-
    <%=link_to mojiseigen(dayev.title,18),"/todos/#{dayev.id}" %><br>
  <% end %></td></tr>
<% end %>
</table>
<table>
  <% @datedown=(@first_day-1).beginning_of_month %>
  <tr>
  <td><%= button_to"←", {controller: 'todos', action: 'schedule'}, {method: :get, params: {lday:@datedown,kubun:"1"}} %></td>
  <td><div style="padding : 10px ;"><strong><%= nengetu(@first_day) %>分スケジュール</strong></div></td>
  <% @dateup=(@last_day+1).beginning_of_month %>
  <td><%= button_to"→", {controller: 'todos', action: 'schedule'}, {method: :get, params: {lday:@dateup,kubun:"2"}} %></td>
  </tr></table>
<% if @datekakuni.present? %>
  <% session[:url]=request.url + "#" + convert_day(today) %>
<% else %>
  <% session[:url]=request.url %>
<% end %>


