<% if session[:item].present? %>
  <% item=session[:item] %>
  <% session.delete(:item) %>
<% else %>
  <% item=1 %>
<% end %>
<% if session[:remark].present? %>
  <% remark=session[:remark] %>
  <% session.delete(:remark) %>
<% else %>
  <% remark=nil %>
<% end %>
<table>
<tr><td width="120" valign="top">
■名　称　：</td><td><%= @todo.title %></td></tr>
<tr><td valign="top">
■期　限　：</td>
<td>
<%= dateweekday(@todo.term) %>(<%=weekdate(@todo.term) %>)
<% if @todo.starttime.present? %>
    <% times=@todo.starttime %>
    <%= times.strftime("%H:%M") %>
<% end %><br>
</td></tr>
<tr><td>
■完了日　：</td><td>
<% if @todo.finishday.present? %>
  <%= dateweekday(@todo.finishday) %>(<%=weekdate(@todo.finishday) %>)
<% else %>
未完了
<% end %>
</td></tr>
<tr><td>
<% kei=Account.where(todo_id:@todo.id).sum(:amount) %>
■金　額　：</td><td><%= kei.to_s(:delimited, delimiter: ',') %></td></tr>
<tr><td>■分　類　：</td>
<td>
<% @categories.each do |category| %>
    <%= category.category_id %> 
<% end %>
</td></tr>
<tr><td  colspan="2" width="610">
■詳　細<br><%=simple_format(@todo.body) %>
</td></tr>
</table>
<div style="display:inline-flex">
  <div class="form-group">
  <%= link_to "編集","/todos/#{@todo.id}/edit", {class: "btn btn-primary button2"} %>　
  </div>
  <div class="form-group">
    <% if @todo.finishday.blank? %>
      <%= button_to "完了登録", todos_finished_path, { method: :get, params: {id: @todo.id,baction:1},class: "btn btn-primary button2" } %>
    <% else %>
      <%= button_to "完了取消", todos_finished_path, { method: :get, params: {id: @todo.id,baction:2},class: "btn btn-primary button2" } %>
    <% end %>
  </div>
</div><br />

<hr class="line">
■会計新規
<% @account=Account.new %>
  <%= form_with(url: accounts_path, method: :post, local: true) do |f| %>
    費用品目：
    <%= f.select :item,Item.all.collect { |i| [ i.name, i.id ] }, :selected=>item %><br>
    金　額　：
    <%= f.text_field :amount , placeholder: '必須項目'%><br>
    会計備考：
    <%= f.text_field :remark,value:remark %><br>
    <%= f.hidden_field :id ,value:@todo.id %>
    <p><%= f.submit "会計登録", class: "btn btn-primary button2",data: { disable_with: '送信中...' } %>
<% end %>
<% if Account.where(todo_id:@todo.id).count >0 %>
<button class="btn btn-primary button2"  data-toggle="modal" data-target="#modal-sa"%>
        会計編集
</button>
<% end %>
</p>
<hr class="line">
<% if @todo.starttime %>
  <% title_convert = convert(@todo.title) %>
  <% convert_day = convert_day(@todo.term) %><br />
  <% convert_time = convert_time(@todo.starttime) %>
  <% finishtime= @todo.starttime.since(5400.seconds) %>
  <% convert_finish_time = convert_time(finishtime) %>
  <span class="label label-warning">
    <% if @todo.body.present? %>
      <%= link_to "googleカレンダー登録","https://www.google.com/calendar/render?action=TEMPLATE&text=#{title_convert}&&dates=#{convert_day}T#{convert_time}00/#{convert_day}T#{convert_finish_time}00&details=#{request.url}", target: "_new" %>
    <% else %>
      <%= link_to "googleカレンダー登録","https://www.google.com/calendar/render?action=TEMPLATE&text=#{title_convert}&&dates=#{convert_day}T#{convert_time}00/#{convert_day}T#{convert_finish_time}00", target: "_new" %>
    <% end %>
  </span>&nbsp;
  <%= link_to image_tag("https://s.yimg.jp/images/calendar/yc_btn_01.gif"),"https://calendar.yahoo.co.jp/?V=60&TITLE=#{title_convert}&ST=#{convert_day}T#{convert_time}&DUR=0130", target: "_new" %>
<% end %>

<p><%= link_to("一覧に戻る",session[:url]) if session[:url]%></p>


<!-- 2.編集モーダルの配置 -->
<div class="modal fade" id="modal-sa" tabindex="-1">
  <div class="modal-dialog modal-sm">
<!-- 3.モーダルのコンテンツ -->
    <div class="modal-content">
      <!-- 4.モーダルのヘッダ -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-label"><b>会計編集</b></h4>
        <div class="modal-body">
        <% @items=Item.all %>
        <% @account=Account.where(todo_id:@todo.id) %>
        <%= form_tag accounts_editmany_path, method: :put do %>
        <% @account.each do |account| %>
          <%= fields_for "accountsmany[]",account do |ac| %>
            <%= ac.label :削除 %> <%= ac.check_box :deletecheck %><br>
            <%= ac.label :費用品目： %>
            <%= ac.select :item,Item.all.collect { |i| [ i.name, i.id ] } %><br>
            <%= ac.label :金　額　： %><%= ac.text_field :amount , placeholder: '金額(必須)'%><br>
            <%= ac.label :備　考　： %><%= ac.text_field :remark , placeholder: '備考'%><br>
            <hr>
          <% end %>
        <% end %>
        <%= submit_tag value="一括登録", :class => "btn btn-primary btn-lm", data: { confirm: "更新していいですか"} %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 2.編集モーダルの配置終了 -->
