TodolistCSV出力
<%= form_with(url: todos_csvexport_path(format: :csv), method: :post, local: true) do |f| %>
      <p>      
      <%= f.label :期限 %><br> 
       <%= collection_select(:startdate,:id,@dates,:id, :dateweek , :selected=>@startdate) %>-<%= collection_select(:finishdate,:id,@dates,:id, :dateweek , :selected=>@finishdate) %>
       </p>
       <p>
      <%= f.submit "エクスポート", class: "btn btn-primary",style:"width:100px;height:50px" %>
      </p>
<% end %>
<hr class="line">
会計CSV出力
<%= form_with(url: todos_csvexport_path(format: :csv), method: :post, local: true) do |f| %>
      <p>      
      <%= f.label :登録 %><br> 
       <%= collection_select(:startdate,:id,@dates,:id, :dateweek , :selected=>@startdate) %>-<%= collection_select(:finishdate,:id,@dates,:id, :dateweek , :selected=>@finishdate) %>
       </p>
       <p>
      <%= f.submit "エクスポート", class: "btn btn-primary",style:"width:100px;height:50px" %>
      </p>
<% end %>




<a href="/todos/toexport" class="btn btn-primary">リセット</a>